@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap')

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: rgb(251, 233, 236);
    color: maroon;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    color: white;
    background-color: darkred;
    padding: 20px;
}
header h1{
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}