body{
    background-color: rgb(251, 233, 236);
    color: maroon;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    color: white;
    background-color: darkred;
    padding: 20px;
}